body{
    margin:0;
    padding-top:800px;
}
.profile{
    width:175px;
    margin-bottom:50px;
    border-radius:50%;
}
#welcome{
    position:absolute;
overflow:hidden;
height:800px;
color:aqua;
left:0;
bottom:0;
right:0;
top:0;
padding-top: 100px;
background:linear-gradient(#cf5da1 0%, #ff5c33 100%);
display:table;
width:100%;
height:100%;
text-align: center;
font-family: 'Mate SC', serif;
z-index: 9;
}
h1,h2{
    font-size:30px;
    font-weight:300;
    line-height:1.2;
    font-family:cursive;
}
#name{
    font-size:30px;
    font-weight:300;
    line-height:1.2;
    font-family:'Mate SC', serif;
}
#bio{
    padding:50px;
    text-align: center;
    font-size: 42px;
}
.line{
    height: 6px;
    width: 70px;
    background-color:#960952;
    margin: 8px auto;
}
p{
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}
.menu {
    list-style: none;
    position: fixed;
    margin-top: 0px;
    top: 0px;
    width: 100%;
    z-index: 10;
    cursor: pointer;
    background-color: coral;
}
.links {
    padding-left: 33px;
    padding-right: 25px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    display: inline;
}
.links:hover {
    background-color: #66e8e4;
}
#videos {
    text-align: center;
    background-color: aqua;
}
#work {
    text-align: center;
    background-color: coral;
}
#writings {
    text-align: center;
    background-color: bisque;
}
a {
    text-decoration: none;
    color: black;
}
.article {
    font-size: 30px;
    color: darkcyan;
}
#contact {
    text-align: center;
    background-color: chartreuse;
}
h3 {
    font-size: 25px;
}